.OuterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.InnerContainer {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  box-shadow: 0px 2px 5px 0px;
}

.Spawnable {
  box-shadow: 0px 2px 30px 0px #FFFFFF;
}
