.Container {
  display: flex;
  flex-grow: 1;
}

.TopPlacement {
  flex-direction: column;
}

.BottomPlacement {
  flex-direction: column-reverse;
}

.Disabled {
  opacity: 0.3;
  pointer-events: none;
}
